body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  background-color: #E8E8E8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

.keyboard__textarea {
  width: 100%;
  box-sizing: border-box;
  height: 150px;
}

.key {
  width: 5.7%;
  height: 100%;
  background-color: black;
  border-radius: 5px;
  color: aliceblue;
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.key .functional {
  display: flex;
}

.key > div {
  display: none;
}

.key > div.active {
  display: block;
}

.pressed {
  outline: 5px solid dodgerblue;
}

.key__functional {
  flex-grow: 3;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.85rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
}

.key__numbers {
  flex-grow: 7;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.keyboard__board {
  width: 730px;
  height: 240px;
  display: flex;
  flex-direction: column;
}

.keyboard-line {
  display: flex;
  height: 20%;
  padding: .2rem 0;
  width: 100%;
  justify-content: space-between;
}

.Enter, .CapsLock, .ShiftLeft, .ShiftRight {
  width: 12.4%;
}

.Backspace {
  width: 11%;
}

.Tab, .del, .ControlLeft {
  width: 8%;
}

.Space {
  width: 44%;
}

.CapsLock {
  position: relative;
}

.CapsLock.on::after {
  content: " ";
  position: absolute;
  left: .3rem;
  top: .3rem;
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  background-color: chartreuse;
}

.canvas {
  width: 730px;
  visibility: hidden;
}

textarea {
  outline: none;
}
